<ion-header>
  <ion-toolbar>
    <ion-title>
      Previsão do Tempo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
  <ion-card>
    <ion-item>
      <ion-icon name="umbrella" slot="start"></ion-icon>
      <ion-label>{{clima.nomeCidade}} - {{clima.estado}}</ion-label>
    </ion-item>

    <ion-card-content>
      <!--Card 2-->
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{clima.temperature}}º</ion-card-title>
          <ion-card-subtitle>Tipo do tempo</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <br>
          <br>
          <br>
          <ion-grid>
            <!--Primeira Linha-->
            <ion-row>
              <ion-col>
                <ion-label>Velocidade km/h</ion-label>
                <ion-input disabled>{{clima.velocidade}}km/h</ion-input>
              </ion-col>
            </ion-row>
            <hr>
            <ion-row>
              <ion-col>
                <ion-label>Direção do vento</ion-label>
                <ion-input disabled>{{clima.direcao}}</ion-input>
              </ion-col>
            </ion-row>
            <hr>
            <ion-row>
              <ion-col>
                <ion-label>Direção do vento em graus</ion-label>
                <ion-input disabled>{{clima.direcaoGraus}}º</ion-input>
              </ion-col>
            </ion-row>
            <hr>
            <ion-row>
              <ion-col>
                <ion-label>Rajada do vento em km/h</ion-label>
                <ion-input disabled>{{clima.Rajada}}km/h</ion-input>
              </ion-col>
            </ion-row>

          </ion-grid>

        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

</ion-content>