<ion-header>
  <ion-toolbar>
    <ion-title>
      Geolocalização
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Estudos de Geolocalização</ion-card-subtitle>
        <ion-card-title>Bora lá...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Latitude: {{ latitude }}</p>
        <p>Longitude: {{ longitude }}</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
